.Product {
    margin: 50px;
    background-color: white;
    height: 250px;
    width: 200;
    border-radius: 15px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.Product h3 {
    margin: 0;
    font-size: 1.2rem;
    color: white;
    border-radius: 15px 15px 0 0;
    background-color: rgb(58, 58, 247);
    border: 1px solid rgb(58, 58, 247);
    width: 100%;
    height: 15%;
    text-align: center;
    padding-top: 5px;
}

.Product span {
    width: 100%;
    text-align: center;
    border: 1px solid rgb(58, 58, 247);
    background-color: rgb(58, 58, 247);
    font-size: 1rem;
    padding-bottom: 5px;
    color: white;
}

.Product .quantity {
    padding: 5px 0;
    width: 100%;
    border-radius: 0 0 15px 15px;
    background-color: rgb(58, 58, 247); 
    display: flex;
    justify-content: center;  
    align-items: center; 
}

.Product > img {
    max-height: 190px;
}

.Product .quantity img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.Product .quantity span {
    width: 40%;
    font-size: 1.5rem;
    color: white;
}